* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}

body {
    background:white;
    color: black;
    text-align: center;
}

h1 {
    margin-top: 30px;
    font-size: 32px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.form-box,
.card-box {
    width: 360px;
    background: #c7c3c6;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
}

.form-box label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 14px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.gender,
.course {
    text-align: left;
    margin: 5px 0 10px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    background: #0a0a0a;
    color: white;
    cursor: pointer;
}

.card-box {
    text-align: center;
}

.card-box img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #0e0e0e;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-box p {
    margin: 5px 0;
}

#c_marks {
    color: rgb(234, 229, 219);
    font-weight: bold;
}